In [1]:
from pandas import Series, DataFrame
import numpy as np

In [3]:
obj = Series(range(5), index=list('aabbc'))
obj

a    0
a    1
b    2
b    3
c    4
dtype: int32

In [5]:
obj.index.is_unique

False

In [6]:
df = DataFrame(np.random.rand(4, 3),
               index=list('aabb'))
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>0.864311</td>
      <td>0.991757</td>
      <td>0.526356</td>
    </tr>
    <tr>
      <th>a</th>
      <td>0.733799</td>
      <td>0.240098</td>
      <td>0.159365</td>
    </tr>
    <tr>
      <th>b</th>
      <td>0.373029</td>
      <td>0.041174</td>
      <td>0.210476</td>
    </tr>
    <tr>
      <th>b</th>
      <td>0.763646</td>
      <td>0.280623</td>
      <td>0.261535</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
df.loc['b']

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>b</th>
      <td>0.373029</td>
      <td>0.041174</td>
      <td>0.210476</td>
    </tr>
    <tr>
      <th>b</th>
      <td>0.763646</td>
      <td>0.280623</td>
      <td>0.261535</td>
    </tr>
  </tbody>
</table>
</div>