In [1]:
tup = 3, 4, 5

In [2]:
tup

(3, 4, 5)

In [3]:
tuple(range(3))

(0, 1, 2)

In [4]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup + tuple(range(3))

(3, 4, 5, 0, 1, 2)

In [7]:
tup * 3

(3, 4, 5, 3, 4, 5, 3, 4, 5)

In [8]:
a, b = 1, 2

In [9]:
b, a = a, b

In [12]:
a, b

(2, 1)

In [14]:
tup.count(2)

0

In [24]:
from bisect import bisect,insort

In [19]:
c = list(range(10))

In [20]:
bisect(c,2)

3

In [21]:
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
insort(c, 6)

In [26]:
c

[0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 9]

In [27]:
c[::-1]

[9, 8, 7, 6, 6, 5, 4, 3, 2, 1, 0]

In [31]:
some_list = ['ab', 'cd', 'ef']

In [33]:
{v: i for i, v in enumerate(some_list)}

{'ab': 0, 'cd': 1, 'ef': 2}

In [34]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'tw', 'three']

In [39]:
zipped = list(zip(seq1, seq2))

In [38]:
for a, b in zip(seq1, seq2):
    print('{} => {}'.format(a, b))

foo => one
bar => tw
baz => three

In [40]:
a, b = zip(*zipped)

In [41]:
a

('foo', 'bar', 'baz')

In [42]:
b

('one', 'tw', 'three')