In [1]:

a = 'string'

In [2]:
a.title()

'String'

In [3]:
str.strip

In [4]:
str.strip(a)

'string'

In [5]:
type(a)

str

# Partial

In [7]:
from functools import partial

In [8]:
def add_numbers(x, y): return x + y

In [9]:
add_five = partial(add_numbers, 5)

In [10]:
add_five(4)

9

# Yield (generator expression)

In [12]:
gen = (x**2 for x in range(10))

In [15]:
sum(gen)

285

In [16]:
sum( x**2 for x in range(10) )

285

# Itertools

In [17]:
import itertools

In [18]:
first_letter = lambda x: x[0]

In [19]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [21]:
for letter, name in itertools.groupby(names, first_letter):
    print(letter, list(name))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']