In [1]:
a = 5

In [2]:
isinstance(a, (int, float))

True

In [3]:
a = 'foo'

In [4]:
getattr(a, 'split')

In [7]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [8]:
isiterable('a string')

True

In [9]:
isiterable([1, 2, 3])

True

In [10]:
isiterable(1)

False

In [11]:
a = [1, 2, 3]

In [12]:
b = a
c = list(a)

In [13]:
a is b

True

In [14]:
a is not c

True

In [15]:
a = None
a is None

True

In [16]:
a == None

True

In [17]:
fval = 6.78e-5

In [18]:
fval

6.78e-05

In [19]:
3 // 2

1

In [20]:
c = '''
this is a long string that
span multiple
lines'''
c.count('\n')

3

In [21]:
a = 'this is a string'
a.replace('string', 'long string')

'this is a long string'

In [22]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [23]:
s = list('python')
s[:3]

['p', 'y', 't']

In [24]:
s[2:3]

['t']

In [25]:
template = '{0:2f} {1:s} are worth US${2:d}. {1:s}'

In [26]:
template.format(4.52323, 'Agentina Pesos', 1)

'4.523230 Agentina Pesos are worth US$1. Agentina Pesos'

In [27]:
bool(1)

True

In [28]:
None is None

True