In [19]:
from pandas import Series, DataFrame
import numpy as np
import pandas_datareader.data as web

In [20]:
all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker)
    
price = DataFrame({tic: data['Adj Close']
                   for tic, data in all_data.items()})

volume = DataFrame({tic: data['Volume'] 
                    for tic, data in all_data.items()})

RemoteDataError: Unable to read URL: https://query1.finance.yahoo.com/v7/finance/download/IBM?period1=1262322000&period2=1519102799&interval=1d&events=history&crumb=Hw%5Cu002FvVHnwrSq

In [9]:
returns = price.pct_change()
returns.tail()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>GOOG</th>
      <th>IBM</th>
      <th>MSFT</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-02-12</th>
      <td>0.040279</td>
      <td>0.013644</td>
      <td>0.012641</td>
      <td>0.010773</td>
    </tr>
    <tr>
      <th>2018-02-13</th>
      <td>0.010018</td>
      <td>0.000152</td>
      <td>-0.004293</td>
      <td>0.007854</td>
    </tr>
    <tr>
      <th>2018-02-14</th>
      <td>0.018437</td>
      <td>0.016728</td>
      <td>0.026600</td>
      <td>0.015658</td>
    </tr>
    <tr>
      <th>2018-02-15</th>
      <td>0.033578</td>
      <td>0.018529</td>
      <td>0.008077</td>
      <td>0.020372</td>
    </tr>
    <tr>
      <th>2018-02-16</th>
      <td>-0.003237</td>
      <td>0.004846</td>
      <td>0.001090</td>
      <td>-0.007123</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
returns.MSFT.corr(returns.IBM)

0.47276937094861915

In [12]:
returns.MSFT.cov(returns.IBM)

7.9443952426263851e-05

In [13]:
returns.corr()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>GOOG</th>
      <th>IBM</th>
      <th>MSFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AAPL</th>
      <td>1.000000</td>
      <td>0.420376</td>
      <td>0.356870</td>
      <td>0.404796</td>
    </tr>
    <tr>
      <th>GOOG</th>
      <td>0.420376</td>
      <td>1.000000</td>
      <td>0.388777</td>
      <td>0.491111</td>
    </tr>
    <tr>
      <th>IBM</th>
      <td>0.356870</td>
      <td>0.388777</td>
      <td>1.000000</td>
      <td>0.472769</td>
    </tr>
    <tr>
      <th>MSFT</th>
      <td>0.404796</td>
      <td>0.491111</td>
      <td>0.472769</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
returns.cov()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>GOOG</th>
      <th>IBM</th>
      <th>MSFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AAPL</th>
      <td>0.000260</td>
      <td>0.000103</td>
      <td>0.000068</td>
      <td>0.000092</td>
    </tr>
    <tr>
      <th>GOOG</th>
      <td>0.000103</td>
      <td>0.000231</td>
      <td>0.000070</td>
      <td>0.000105</td>
    </tr>
    <tr>
      <th>IBM</th>
      <td>0.000068</td>
      <td>0.000070</td>
      <td>0.000141</td>
      <td>0.000079</td>
    </tr>
    <tr>
      <th>MSFT</th>
      <td>0.000092</td>
      <td>0.000105</td>
      <td>0.000079</td>
      <td>0.000200</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
returns.corrwith(returns.IBM)

AAPL    0.356870
GOOG    0.388777
IBM     1.000000
MSFT    0.472769
dtype: float64

In [16]:
returns.corrwith(volume)

AAPL   -0.066693
GOOG   -0.016436
IBM    -0.157536
MSFT   -0.086233
dtype: float64

In [18]:
returns.covwith(volume)

AttributeError: 'DataFrame' object has no attribute 'covwith'